@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*{
    font-weight: bolder;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    color: white;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #202124;
    
}
#cabecalho{
    padding: 10px;
    border-bottom: 1px solid #5f6368;
}
#cabecalho h1{
    font-size: 50px;
}
#conteudo{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px;
}
#part1{
    display: flex;
    flex-direction:column;
    justify-items: center;
    align-items: center;
}
div#part1 > div{
    margin-bottom: 10px;
}
#part2{
    height: 100px;
}
input{
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px 15px;
}
button{
    padding: 7px;
    font-size: 23px;
    border-radius: 5px;
    background-color: #f44336;
    border: none;
    border-bottom: 2px solid #c1342a;
    cursor: pointer;
}
button:hover{
    background-color: #c1342a;
}
@media(max-width: 580px){
    *{
        font-size: 15px;
    }
    #cabecalho h1{
        font-size: 25px;
    }
    button{
        padding: 4px;
        font-size: 13px;
        border-radius: 3px;
    }
}
@media(max-width: 360px){
    #conteudo{
        width: 100%;
        margin: 0px;
    }
    input{

    }
}