@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*{
    font-weight: bolder;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    color: white;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #202124;
    
}
#cabecalho{
    padding: 10px;
    border-bottom: 1px solid #5f6368;
}
#cabecalho h1{
    font-size: 50px;
}
#conteudo{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 10px;
}
#part1{
    display: flex;
    flex-direction:column;
    justify-items: center;
    align-items: center;
}
div#part1 > div{
    margin-bottom: 10px;
}
#part2{
    height: 100px;
}
input{
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px 15px;
}
button{
    padding: 7px;
    font-size: 23px;
    border-radius: 5px;
    background-color: #f44336;
    border: none;
    border-bottom: 2px solid #c1342a;
    cursor: pointer;
}
button:hover{
    background-color: #c1342a;
}
#listaelementos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.elemento{
    cursor: pointer;
    border: 3px solid white;
    height: 140px;
    width: 140px;
    border-radius: 8px;
    background-color: black;
    margin: 6px 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.numero-atomico{
    text-align: start;
    font-size: 20px;
}
.simbolo{
    text-align: center;
    font-size: 65px;
}
.nome{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}


a{
    text-decoration: none;
    cursor: pointer;
}
@media(max-width: 580px){
    *{
        font-size: 15px;
    }
    #cabecalho h1{
        font-size: 25px;
    }
    button{
        padding: 4px;
        font-size: 13px;
        border-radius: 3px;
    }
    .elemento{
        border: 3px solid white;
        height: 100px;
        width: 100px;
    }
    .numero-atomico{
        font-size: 12px;
    }
    .simbolo{
        font-size: 45px;
    }
    .nome{
        font-size: 10px;
    }
}
@media(max-width: 360px){
    #conteudo{
        width: 100%;
        margin: 0px;
    }
    .elemento{
        border: 2px solid white;
        height: 70px;
        width: 70px;
    }
    .numero-atomico{
        font-size: 10px;
    }
    .simbolo{
        font-size: 30px;
    }
    .nome{
        font-size: 7px;
    }
}